:root {
  --color-background: rgb(254, 254, 250);
  --color-foreground: rgb(29, 32, 31);
  --font-body: 'Inter', sans-serif;
  --font-kiwis: 'Busorama ITC Std', display;
}

html {
  font-size: 18px;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body);
  margin: 0;
}
