:root {
  --color-background: rgb(254, 254, 250);
  --color-foreground: rgb(29, 32, 31);
  --color-dimmed: rgb(92, 87, 87);
  --color-shadow: rgb(204, 198, 200);
  --color-link: rgb(0, 65, 106);
  --font-body: 'Inter', sans-serif;
  --font-kiwis: 'Busorama ITC Std', display;
}

html {
  font-size: 18px;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body);
  margin: 0;
  padding: 1rem;
}

#content {
  @include marginizer;
  line-height: 1.25;
  padding-top: 2rem;

  a {
    color: var(--color-link);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  section {
    @include marginizer;
  }
}

.sr-only {
  height: 0;
  left: -999rem;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: -999rem;
  width: 0;
}
