// I don't like globally breaking ULs
@mixin un-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// To add any kind of motion, since I consider 'reduce' to mean 'none'
@mixin motion {
  @media (prefers-reduced-motion: no-preference) {
    @content;
  }
}

// I use this a lot
@mixin marginizer {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}
