---
import CardImage from '@components/CardImage.astro'

const { comic } = Astro.props
---

<a href={`/${comic.slug}`} class="card">
  <article>
    <CardImage imagePath={`/src/assets/${comic.slug}/${comic.data.cover}`} />

    <h2>{comic.data.title}</h2>
  </article>
</a>

<style lang="scss">
.card {
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
</style>
