.site-header {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 2rem;
}

.branding {
  align-items: flex-end;
  display: flex;
  position: relative;
  z-index: 2;

  a {
    color: var(--color-foreground);
    font-family: var(--font-kiwis);
    font-size: 2rem;
    text-decoration: none;
  }
}

.toggle-button {
  --horizontal-position: calc(50% - 4px);

  appearance: none;
  background-color: var(--color-background);
  border: 0;
  color: var(--color-foreground);
  height: 2rem;
  padding: 0;
  position: relative;
  width: 2rem;
  z-index: 2;

  &::after,
  &::before {
    background-color: var(--color-foreground);
    content: '';
    height: 2px;
    left: calc(50% - 0.5rem);
    position: absolute;
    width: 1rem;

    @include motion {
      transition: top 195ms ease-in-out,
                  transform 195ms ease-in-out;
    }
  }

  &::after {
    top: var(--horizontal-position);
  }

  &::before {
    bottom: var(--horizontal-position);
  }
}

.menu {
  position: relative;

  div {
    background-color: var(--color-background);
    box-shadow: 0 0 3px var(--color-accent);
    left: 0;
    opacity: 0;
    padding: 4rem 1rem 1rem 1rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
  }

  ul {
    @include un-ul;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;
  }

  a {
    align-items: center;
    color: var(--color-foreground);
    display: flex;
    font-weight: bold;
    height: 2rem;
    justify-content: center;
    padding: 0 1rem;
  }

  &.menu-open {
    .toggle-button {
      &::after,
      &::before {
        top: calc(50% - 1px);
      }

      &::after {
        transform: rotate(45deg);
      }

      &::before {
        transform: rotate(-45deg);
      }
    }

    div {
      opacity: 1;
      z-index: 1;
    }
  }
}
