.skip-content {
  background-color: var(--color-foreground);
  border-radius: 3px;
  box-shadow: 0 1px 3px var(--color-presentational);
  color: var(--color-background);
  display: block;
  font-size: 1rem;
  left: 1rem;
  padding: 0.5rem 1rem;
  position: fixed;
  text-decoration: none;
  top: -10rem;
  z-index: 3;

  &:focus {
    top: 1rem;
  }
}
